<!--Maps-->
<ion-view title="Maps">
  <ion-content class="padding">
  	<a class="button button-block button-positive icon-right ion-navigate narrow" style="text-align:left" ng-click="navigate()" href="maps:daddr=32.437736, -99.845662">Navigate to Dyess Air Force Base</a>
  	<button class="button button-block button-positive icon-right ion-map narrow" ng-click="openModal(2)" style="text-align:left">
       View Vehicle Routes
    </button>
    <button class="button button-block button-positive icon-right ion-map narrow" ng-click="openModal(1)" style="text-align:left">
       View AirFest Layout
    </button>
  </ion-content>
</ion-view>