<ion-view title="Dyess Airfest 2015">
<ion-content class="padding bone">
<div class="card translucent">
<p class="italic" align="center">"Presenting America's Airpower"</p>

<!--**** NO OUTLINE BUTTONS-->

<div class="row">
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.maps">
      <i class="ion ion-map custom-icon"></i>
      Maps
      </button>
    </div>
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.medical">
      <i class="ion ion-medkit custom-icon"></i>
      Medical
      </button>
	</div>
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.vendors">
      <i class="ion ion-pizza custom-icon"></i>
      Vendors
      </button>
	</div>
</div>
<div class="row">
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.events">
      <i class="ion ion-clock custom-icon"></i>
      Events
      </button>
	</div>
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.info">
      <i class="ion ion-ios-partlysunny custom-icon"></i>
      Weather
      </button>
	</div>
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.aircrafts">
      <i class="ion ion-paper-airplane custom-icon"></i>
      Performers
      </button>
	</div>
</div>
<div class="row">
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.photo">
      <i class="ion ion-images custom-icon"></i>
      Photos
      </button>
	</div>
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.contacts">
      <i class="ion ion-android-contacts custom-icon"></i>
      Contacts
      </button>
	</div>
	<div class="col">
	<button class="button button-icon narrow" ui-sref="tab.sponsors">
      <i class="ion ion-ios-information-outline custom-icon"></i>
      Info
      </button>
	</div>
</div>

</div>
</ion-content>
<ion-footer-bar class="bar-positive">
  <div class="col">
    <button class="button icon ion-social-facebook button-clear narrow" href="#" onclick="window.open('https://m.facebook.com/events/1444829469140930/', '_blank', 'location=yes'); return false;">acebook</button>
  </div>
  <div class="col">
    <button class="button button-clear icon ion-social-twitter narrow" href="#" onclick="window.open('https://twitter.com/DyessAFBase', '_blank', 'location=yes'); return false;">Twitter</button>
  </div>
  <div class="col">
  	<button class="button icon ion-earth button-clear narrow" href="#" onclick="window.open('http://www.dyessfss.com/dyess-afb-open-house-airshow-2015.html', '_blank', 'location=yes'); return false;">Dyess FSS</button>
  </div>
</ion-footer-bar>
</ion-view>
