<ion-view title="Information">
  <ion-content has-header="true" width="50" class="padding">
  <div class="card">
    <div class="item item-divider">
      Prohibited Items
    </div>
    <div class="item">
     <center>
       <p>
       Firearms<br>
       Weapons<br>
       Illegal Drugs<br>
       Pepper Spray<br>
       Pets<br>
       Coolers<br>
       Backpacks<br>
       Outside Food or Drinks<br>
       Bicycles & Scooters<br>
       (Except for handicap)
       </p>
      </center>
    </div>
  </div>
    <div class="card">
      <div class="item item-divider">
      Sponsors
      </div>
	  <div class="item item-text-wrap">
	   <center>
	     <p>No federal endorsement of sponsors intended<p> Contact Dyess FSS Marketing & Publicity Office<p>
           <a href=""ng-click="email()">stephanie.kraly@dyess.af.mil</a><p>
       </center><br>
	  	 <p>This year Dyess Air Force Base will be hosting an awesome display of Air Power and Air Superiority with a one of a kind Open House - Air Show! We would like to invite you to partner with us to provide an unforgettable experience for the community and out military through the Air Force Commercial Sponsorship Program.</p><br> 

<p>If your company relies on extremely diverse populations, you will want to be involved in the largest attended one day event in the Big Country! The strategy is to meet your business' specific goals - not only will you have access to all active duty military and their families, retirees and civilian personnel, but the Abilene and surrounding communities that come out to enjoy this fantastic family event as well. So don't miss out on this GREAT opportunity to target a huge market segment of approximately 40,000 people from all over Texas and surrounding states. This is a great opportunity to put your products/services in the hands of your military members and target new customers!</p><br> 

<p>While viewing the aerial acrobatics, static displays and the nicely polished chrome displays at the car show, spectators will visit more than 40 vendor setups and organizational food booths.</p><br>

<p>Just a reminder that the military and local communities enthusiastically anticipate such Open House Days and tremendous amounts of planning along with hundreds of hours go into the execution of each event. You can be confident that your association with such a top-notch special event will meet your highest expectations. Our military and local population recognizes businesses that support the Dyess mission and ultimately the Armed Forces for protecting our hard earned freedom. Come partner with us today, have fun and watch your business grow.</p><br>

<p>This event is designed to enhance the quality of life for our military community and we can't wait for you to be a part of it!</p>
  	  </div>
  	</div>
  </ion-content>
</ion-view>
