<ion-view title="Events">
  <ion-content>
    <ion-list>
      <div class="item item-divider">
        Saturday, May 2nd Subject to change<br>Featuring USAF Thunderbirds
      </div>
      <ion-item ng-repeat="event in events" type="item-text-wrap" ng-trim="false">
        {{event.name}}
      </ion-item>
      <div class="item item-divider">
        Sunday, May 3rd Subject to change<br>Featuring USAF Thunderbirds
      </div>
      <ion-item ng-repeat="event2 in events2" type="item-text-wrap">
        {{event2.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
