<ion-view title="Contacts">
  <ion-content class="padding">
    <!--h1>Contacts</h1-->
    <a href="tel:(325) 696-2863" class="button button-block button-positive icon-right ion-android-call narrow" style="text-align:left">Dyess Public Affairs (325) 696-2863</a>
    <a href="tel:(325) 696-2936" class="button button-block button-positive icon-right ion-android-call narrow" style="text-align:left">Dyess FSS Marketing (325) 696-2936</a>
    <a href="tel:(325) 696-1110" class="button button-block button-positive icon-right ion-android-call narrow" style="text-align:left">Dyess Base Operator (325) 696-1110</a>
</ion-view>
