<ion-view title="Medical">
  <ion-content class="padding">
    <div class="card">
       <div class="item item-text-wrap">
         <p>For on base emergencies call 911 and tell the operator you are on Dyess Air Force Base
       </div>
    </div>
    <a href="tel:911" class="button button-block button-assertive icon-right ion-android-call narrow" style="text-align:left">Emergency 911</a>
    <div class="card">
       <div class="item item-text-wrap">
         <p>Lost Child/Parent. The Lost Child/Parent station is in Hangar 4315.
There will be signs to point to this location as people walk from the ECP.
There will be an optional child registration table at the ECP where parents
can get stamped/wristbands.
       </div>
    </div>
    <div class="card">
       <div class="item item-text-wrap">
         <p>First Aid Station.  This station is also in Hangar 4315.  For minor cuts,
scraps, burns, and for coordinating emergency medical services.  MetroCare and AirEvac may also be located near here.
       </div>
    </div>
    <div class="card">
       <div class="item item-text-wrap">
         <p>Roving Medics.  We will have roving medics on golf carts with red cross
arm bands.  They can drive people to the First Aid Station if you need assistance.  They can also communicate directly with the First Aid Stations to coordinate emergency medical
services, and start the process for a Lost Child situation.
       </div>
    </div>
    <a href="tel:(325) 696-5360" class="button button-block button-positive icon-right ion-android-call narrow" style="text-align:left">Med Control Center  (325) 696-5360</a>
  </ion-content>
</ion-view>
